{
  "SECRET_KEY": "asdf",
  "ignore_ssl_errors": true,
  "graphite_server": "http://89.188.0.40:8085/render/",
  "servers": [
   {
      "url" : "http://powerdnssec1.ds9a.nl:8081/",
      "name" : "powerdnssec1.ds9a.nl",
      "type" : "Authoritative"
   },
   {
      "url" : "http://powerdnssec2.ds9a.nl:8081/",
      "name" : "powerdnssec2.ds9a.nl",
      "type" : "Authoritative"
   },
   {
      "manager_url": "https://secret:sikrit@hlds.namespace.at:8080/",
      "url"  : "http://xs.powerdns.com:8082/",
      "name" : "xs.powerdns.com",
      "type" : "Recursor"
   },
   {
      "url" : "http://82.168.94.134:8082/",
      "name" : "home.ds9a.nl",
      "type" : "Recursor"
   },
   {
      "manager_url": "https://secret:sikrit@xs.powerdns.com:8084/",
      "url"  : "http://xs.powerdns.com:8083/",
      "name" : "xs-demo.powerdns.com",
      "type" : "Recursor"
   },
   {
      "manager_url": "https://secret:sikrit@hlds.namespace.at:8080/",
      "url"  : "https://secret:sikrit@hlds.namespace.at:8080/server/1/",
      "name" : "test-recursor.zeha.at",
      "type" : "Recursor"
   }
  ],
  "auth": {
    "admin": {
      "id": "admin",
      "name": "The Administrator",
      "roles": ["view", "stats", "edit"],
      "password": "changeme"
    },
    "graphite": {
      "id": "graphite",
      "name": "Stats Fetcher",
      "roles": ["stats"],
      "password": "notsecure"
    }
  }
}
