<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>PowerDNS Control Server</title>

  {% assets "styles" %}
  <link rel="stylesheet" href="{[ ASSET_URL ]}">
  {% endassets %}

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body ng-app="control">

<script>
var ServerData = {};
ServerData.User = {
  name: "{[ user.name ]}",
  roles: {[ user_roles|tojson|safe ]}
};
{# FIXME: move this into its own route and make it cacheable #}
ServerData.Config = {
  url_root: "{[ request.url_root ]}",
  graphite_server: "/graphite/render/",
  graphite_default_opts: {
    bgcolor: "FFFFFF",
    majorGridLineColor: "darkgray",
    minorGridLineColor: "gray",
    fgcolor: "000000",
    width: "858",
    height: "290",
  },
  graphite_suffixes: {
    'Authoritative': 'auth',
    'Recursor': 'recursor'
  }
};
</script>
  {% assets "js_libs" %}
  <script src="{[ ASSET_URL ]}"></script>
  {% endassets %}

{% block header %}
<nav class="top-bar" data-topbar ng-controller="NavCtrl">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{[ request.url_root ]}">PowerDNS Control</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {% if 'view-users' in user_roles %}
      <li><a href="/users">Manage Users</a></li>
      {% endif %}

      {% if user.name %}
      <li class="has-dropdown">
        <a href="/me">{[ user.name ]}</a>
        <ul class="dropdown">
          <li><a href="{[ url_for_security('logout') ]}" target="_self">Log out</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      {%- block topbar_left %}{% endblock -%}
    </ul>
  </section>
</nav>
{% endblock %}

{%- block body %}{% endblock -%}

{% block footer %}
<div class="row">
<div class="small-12 columns">
  <footer>
    <hr>
    &copy; Copyright 2013-2014 <a href="http://www.powerdns.com/">PowerDNS.COM B.V.</a>
  </footer>
</div>
</div>
{% endblock %}

<script>
  $(document).foundation();
</script>
</body>
</html>
 
