<!doctype html>
<html ng-app="control" class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>PowerDNS Control Server</title>

  {% assets output="gen/styles-%(version)s.css",
    "stylesheets/foundation.min.css",
    "stylesheets/general_foundicons.css",
    "stylesheets/ng-grid.css",
    "stylesheets/app.css"
  %}
  <link rel="stylesheet" href="{[ ASSET_URL ]}">
  {% endassets %}

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

<script>
var ServerData = {};
ServerData.User = {
  name: "{[ user.name ]}",
  roles: {[ user_roles|tojson|safe ]}
};
{# FIXME: move this into its own route and make it cacheable #}
ServerData.Config = {
  url_root: "{[ request.url_root ]}",
  graphite_server: "{[ config['GRAPHITE_SERVER'] ]}",
  graphite_default_opts: {
    bgcolor: "FFFFFF",
    majorGridLineColor: "darkgray",
    minorGridLineColor: "gray",
    fgcolor: "000000",
    width: "910",
    height: "308",
  },
  graphite_suffixes: {
    'Authoritative': 'auth',
    'Recursor': 'recursor'
  }
};
</script>
  {% assets output="gen/js-body-%(version)s.js",
    "javascripts/jquery.min.js",
    "javascripts/jquery-migrate.min.js",
    "javascripts/moment.min.js",
    "javascripts/underscore.js",
    "javascripts/purl.js",
    "javascripts/spin.min.js",
    "javascripts/jquery.spin.js",
    "javascripts/jquery.foundation.reveal.js",
    "javascripts/jquery.foundation.forms.js"
  %}
  <script src="{[ ASSET_URL ]}"></script>
  {% endassets %}

{% block header %}
  <div class="row" id="header">
    <div class="seven columns">
      <a href="{[ request.url_root ]}" id="appname">PowerDNS Control Server</a>
    </div>
    <div class="five columns">
      <a target="_blank" href="http://www.powerdns.com/"><div class="logo"></div></a>
    </div>
  </div>
{% endblock %}

{%- block body %}{% endblock -%}

{% block footer %}
<footer>
  <div class="row">
    <div class="twelve columns">
      &copy; Copyright 2013 PowerDNS B.V.
    </div>
  </div>
</footer>
{% endblock %}

</body>
</html>
 
