/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

IMG.logo {
    vertical-align: bottom;
    margin-bottom: 14px; 
    margin-top: 7px;
    border: 0;
}

.output pre {
    margin-bottom: 2em;
    margin-top: 0.8em;
    background: #eee;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    overflow: auto;
}

#appname {
    font-size: 27px;
    font-weight: bold;
    display: block;
}
a#appname {
    color: black;
}

h2#server-name {
    margin-top: 0;
}

/* override foundation css where it conflicts with dataTable */
.dataTables_wrapper select, .dataTables_wrapper input, .dataTables_wrapper label {
    width: auto;
    display: inline;
}

html {
    overflow-y: scroll;
}

.reveal-modal.fixedWidth1000 {
    width: 950px;
    margin-left: -475px;
}

.spinner {
    margin-right: 1em;
    width: 80px;
}

.inline-block {
    display: inline-block;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


