/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

IMG.logo {
    vertical-align: bottom;
    margin-bottom: 14px; 
    margin-top: 7px;
    border: 0;
}

.output pre {
    margin-bottom: 2em;
    margin-top: 0.8em;
    background: #eee;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    overflow: auto;
}

#appname {
    font-size: 27px;
    font-weight: bold;
    display: block;
}
a#appname {
    color: #666;
}

h2#server-name {
    margin-top: 0;
}

/* override foundation css where it conflicts with dataTable */
.dataTables_wrapper select, .dataTables_wrapper input, .dataTables_wrapper label {
    width: auto;
    display: inline;
}
table.dataTable {
    border-collapse: separate;
    border-spacing: 0;
}
table.dataTable tr.odd {
    background-color: hsl(34, 61%, 85%);
}
table.dataTable tr.odd td.sorting_1 {
    background-color: hsl(34, 61%, 75%);
}
table.dataTable tr.even td.sorting_1 {
    background-color: hsl(43, 100%, 96%);
}
/*
table.dataTable tr.odd td.sorting_2
table.dataTable tr.odd td.sorting_3
table.dataTable tr.even td.sorting_2
table.dataTable tr.even td.sorting_3
*/

html {
    overflow-y: scroll;
}

.reveal-modal.fixedWidth1000 {
    width: 950px;
    margin-left: -475px;
}

.spinner {
    margin-right: 1em;
    width: 80px;
}

.inline-block {
    display: inline-block;
}

a {
    color: #E38000;
}
a:hover {
    color: #E3A000;
}
.tabs dd.active, .tabs li.active {
    border-top: 3px solid #E38000;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


