

# Encryption key for client-side sessions.
# Please generate a new one, f.e. using this:
#   python -c 'print repr(open("/dev/urandom","rb").read(42))'
# SECRET_KEY = 'changeme'

# Your database.
# Example: DATABASE_URI = 'postgresql://user:password@localhost:5432/pdnscontrol'
#
# DATABASE_URI = ''

# PREFERRED_URL_SCHEME = 'http'
# LOG_FILE = 'app.log'

# GRAPHITE_SERVER = '/graphite/render/'
# IGNORE_SSL_ERRORS = False

# USE_X_SENDFILE = False
# SESSION_COOKIE_NAME = 'PdnsControlSess'

# DEBUG = False

# For pdns2graphite:

# URL of serverlist
# serverlist_url = 'http://some.place/x/y'

# Name or address of Carbon server (default: 127.0.0.1)
# carbon_server = '10.0.12.1'

# Port on which Carbon server listens (default: 2003)
# carbon_port = 2003

# Sleep between checks in seconds (default: 5)
# carbon_delay = 5

# Authentication: user & password (no defaults)
# pdnscontrol_user = 'username'
# pdnscontrol_pass = 'password'
