<div class="row">
  <div class="small-12 medium-8 columns">
    <a href="/server/{{server.name}}/zones"><h1 class="server-name">{{server.name}}</h1></a>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 columns">
    <h2>{{zone.name}} <spinner class="right" id="zone-spinner" spin="{{loading}}"></spinner>
      <a ng-show="isEditZoneAllowed" href="/server/{{server.name}}/zone/{{zone.name}}/edit" class="title-edit"><span class="foundicon-edit"></span></a>
    </h2>
  </div>
  <div class="small-12 medium-4 columns right">
    <h3 class="right"><small>{{zone.kind}}</small></h3>
  </div>
</div>

<div class="row" ng-show="errors.length">
  <div class="small-12 columns errors">
    <div ng-repeat="error in errors" class="alert-box alert">{{error}}</div>
  </div>
</div>

<div class="row recordEditControls">
  <div class="small-6 columns" style="min-height: 30px;">
    <span ng-show="isChangeAllowed">
      <button class="button tiny" ng-click="addRRSet()"><span class="foundicon-plus"></span></button>
      &nbsp;
      <button class="button tiny" ng-click="save()" ng-disabled="isClean() || hasErrors()" ng-class="{hasErrors: hasErrors()}"><span class="foundicon-inbox"></span> Save</button>
      &nbsp;
      <span ng-show="!isClean()">
        Unsaved changes<span ng-show="hasErrors()" class="hasErrors"> (with errors)</span>.
        <a href="#" ng-click="revert()">Revert all.</a>
      </span>
    </span>
  </div>
  <div class="small-6 columns text-right">
    <button class="button tiny" ng-click="notify_slaves()" ng-show="isNotifyAllowed"><span class="foundicon-cloud"></span> Notify slaves</button>
    <button class="button tiny" ng-click="update_from_master()" ng-show="isUpdateFromMasterAllowed"><span class="foundicon-refresh"></span> Update from master</button>
    &nbsp;
    <button class="button tiny" ng-click="export()" ng-show="canExport"><span class="foundicon-paper-clip"></span> Export</button>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <input type="text" ng-model="filterValue" placeholder="Search by name, content or comment...">
  </div>
  <div class="small-5 columns right">
    <span class="right" ng-if="rowLimit < zone.rrsets.length">
      <span editable-text="rowLimit" buttons="no">Showing {{ rowLimit }}/{{ zone.rrsets.length }}.</span>
      <a ng-click="showMore()">More...</a>
    </span>
  </div>
</div>

<div class="row">
  <div class="small-12 columns" ng-init="rowLimit = 150" infinite-scroll='showMoreInfiniteScroll()' infinite-scroll-distance='2'>
    <table width="100%" class="recordEdit">
      <tr>
        <th width="30%">Name</th>
        <th width="60">Type</th>
        <th width="90" title="Disabled">Dis.</th>
        <th width="60">TTL</th>
        <th width="40">Prio</th>
        <th width="40%">Data</th>
      </tr>

      <tbody ng-repeat="rrset in zone.rrsets | limitTo:rowLimit | filter:filterValue">
        <tr ng-repeat="record in rrset.records" ng-class="{recordIsNew: record._new}">
          <td ng-if="$first" style="white-space: nowrap">
            <span ng-if="canEdit(rrset)" editable-text="rrset.name" buttons="no" e-form="{{ ifRRsetIsNew(rrset, 'rrsetform') }}">
              {{ stripZone(rrset.name) }}<span class="zoneName">{{ zoneDisplayName(rrset.name) }}</span>
            </span>
            <span ng-if="!canEdit(rrset)">
              {{ stripZone(rrset.name) }}<span class="zoneName">{{ zoneDisplayName(rrset.name) }}</span>
            </span>
            <span class="right">
            <!-- comment indicator -->
              <a href="#" ng-click="editComments(rrset)" ng-show="commentsSupported"><i class="foundicon-paper-clip"></i><small>{{rrset.comments.length}}</small></a>
            </span>
          </td>
          <td ng-if="$first" class="recordType">
            <span ng-if="canModifyType(rrset)" editable-select="rrset.type" buttons="no" e-required="true" e-ng-options="rrType.name as rrType.name for rrType in creatableRRTypes" e-form="{{ ifRRsetIsNew(rrset, 'rrsetform') }}">
              {{ rrset.type }}
            </span>
            <span ng-if="!canModifyType(rrset)">
              {{ rrset.type }}
            </span>
          </td>
          <td ng-if="!$first" colspan="2"></td>
          <td class="recordDisabled"><span editable-checkbox="record.disabled" e-title="Inactive" e-form="rrsetform">
            {{ record.disabled && "Inactive" || "Active" }}
            </span>
          </td>
          <td class="recordTtl"><span editable-text="record.ttl" e-form="rrsetform">{{ record.ttl }}</span></td>
          <td class="recordPrio"><span editable-text="record.priority" e-form="rrsetform"><span ng-show="prioVisible(rrset, record)">{{ record.priority }}</span></span></td>
          <td class="recordContent">
            <span editable-text="record.content" class="{recordIsDisabled: record.disabled}" e-form="rrsetform">
              {{ record.content }}
            </span>
            <span class="right" style="white-space: nowrap; display: inline-block; width: 50px;">
              <form editable-form name="rrsetform" ng-show="rrsetform.$visible" class="form-buttons form-inline" shown="record._new" onaftersave="saveInlineEdit(rrset)">
                <button type="submit" title="OK" ng-disabled="rrsetform.$waiting"><i class="foundicon-checkmark"></i></button>
                <button type="button" class="cancel" title="Cancel" ng-disabled="rrsetform.$waiting" ng-click="rrsetform.$cancel()"><i class="foundicon-refresh"></i></button>
              </form>
              <span ng-show="!rrsetform.$visible">
                <!-- edit -->
                <a href="#" ng-click="rrsetform.$show()" ng-show="canEdit(rrset)"><i class="foundicon-edit"></i></a>
                <!-- trash can -->
                <a href="#" ng-click="deleteRecord(rrset, record)" ng-show="canDelete(rrset)" class="alert"><i class="foundicon-trash"></i></a>
                <!-- add new value -->
                <a href="#" ng-click="duplicateRecord(rrset, record)" ng-show="canDuplicate(rrset)"><i class="foundicon-plus"></i></a>
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-5 columns small-centered">
    <span class="right" ng-if="rowLimit < zone.rrsets.length">
      <span editable-text="rowLimit" buttons="no">Showing the first {{ rowLimit }} of {{ zone.rrsets.length }} entries.</span>
      <a ng-click="showMore()">Show more...</a>
    </span>
  </div>
</div>
