<div class="row">
  <div class="small-12 columns">
    <a href="/server/{{server.name}}"><h2 class="server-name">{{server.name}}</h2></a>
    <h3>{{zone.name}} <spinner class="right" id="zone-spinner" spin="{{loading}}"></spinner>
      <a href="/server/{{server.name}}/zone/{{zone.name}}/edit" class="title-edit"><span class="foundicon-edit"></span></a>
    </h3>
  </div>
</div>

<div class="row" ng-show="errors.length">
  <div class="small-12 columns errors">
    <div ng-repeat="error in errors" class="alert-box alert">{{error}}</div>
  </div>
</div>

<div class="row">
  <div class="small-6 columns" style="min-height: 30px;">
    <span ng-show="isChangeAllowed">
      <button class="button tiny alert" ng-click="delete_selected()" ng-class="{disabled: !isDeletePossible(), alert: isDeletePossible()}"><span class="foundicon-trash"></span></button>
      <button class="button tiny" ng-click="add()"><span class="foundicon-plus"></span></button>
      &nbsp;
      <button class="button tiny" ng-click="save()" ng-class="{disabled: isClean()}"><span class="foundicon-inbox"></span> Save</button>
      &nbsp;
      <span ng-show="!isClean()">
        Unsaved changes.
      </span>
    </span>
  </div>
  <div class="small-6 columns text-right">
    <button class="button tiny" ng-click="notify_slaves()" ng-show="isNotifyAllowed"><span class="foundicon-cloud"></span> Notify slaves</button>
    <button class="button tiny" ng-click="update_from_master()" ng-show="isUpdateFromMasterAllowed"><span class="foundicon-refresh"></span> Update from master</button>
    &nbsp;
    <button class="button tiny" ng-click="export()"><span class="foundicon-paper-clip"></span> Export</button>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="gridStyle" ng-grid="recordsGridOptions">
    </div>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
<pre>
DEBUG:

{{mySelections}}

{{mySelections.length}}
</pre>
  </div>
</div>
