<form name="zoneForm">
<div class="row">
<div class="small-12 columns">
  <a href="/server/{{server.name}}"><h2 class="server-name">{{server.name}}</h2></a>
  <h3 class="zone-name" ng-show="zone._url">{{master.name}}</h3>
  <h3 class="zone-name" ng-show="!zone._url">Add Zone</h3>
</div>
</div>

<div class="row" ng-show="errors.length">
  <div class="small-12 columns errors">
    <h5>Errors</h5>
    <ul class="disc">
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <label ng-class="{error: zoneForm.name.$invalid && !zoneForm.$pristine}" for="zonename">Zone Name</label>
    <input type="text" name="name" ng-model="zone.name" required id="zonename">
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <label ng-class="{error: zoneForm.kind.$invalid && !zoneForm.$pristine}" for="zonetype">Zone Type</label>
    <select ng-model="zone.kind" required id="zonetype" ng-options="label for label in zone_types"></select>
  </div>
</div>

<div class="row" ng-show="showNameservers()">
  <div class="small-12 columns">

  <fieldset>
    <legend ng-class="{error: zoneForm.nameservers.$invalid && !zoneForm.$pristine}">Nameservers</legend>

    <div class="row">
      <div class="small-12 medium-6 columns" ng-repeat="nameserver in zone.nameservers_o">
        <div class="row collapse">
          <div class="small-10 medium-11 columns">
            <input type="text" ng-model="nameserver.nameserver" placeholder="ns1.example.org">
          </div>
          <div class="small-2 medium-1 columns">
            <a href="#" ng-click="removeNameserver($index)" class="button postfix"><span class="foundicon-trash"></span></a>
          </div>
        </div>
      </div>

      <div class="small-2 medium-1 columns">
        <a href="#" ng-click="addNameserver()" class="button postfix"><span class="foundicon-plus"></span></a>
      </div>
    </div>
  </fieldset>
  </div>
</div>

<div class="row" ng-show="showMasters()">
  <div class="small-12 columns">

  <fieldset>
    <legend ng-class="{error: zoneForm.masters.$invalid && !zoneForm.$pristine}">Masters</legend>

    <div class="row">
      <div class="small-12 medium-6 columns" ng-repeat="master in zone.masters_o">
        <div class="row collapse">
          <div class="small-10 medium-11 columns">
            <input type="text" ng-model="master.master" placeholder="192.0.2.1">
          </div>
          <div class="small-2 medium-1 columns">
            <a href="#" ng-click="removeMaster($index)" class="button postfix"><span class="foundicon-trash"></span></a>
          </div>
        </div>
      </div>

      <div class="small-2 medium-1 columns" ng-show="canAddMaster()">
        <a href="#" ng-click="addMaster()" class="button postfix"><span class="foundicon-plus"></span></a>
      </div>
    </div>
  </fieldset>
  </div>
</div>

<div class="row" ng-show="showForwarders()">
  <div class="small-12 columns">
    <label>Forwarding options</label>
    <input type="checkbox" ng-model="zone.recursion_desired" id="recursion_desired">
    <label for="recursion_desired">Recursion Desired</label>
  </div>
</div>

<div class="row" ng-show="showForwarders()">
  <div class="small-12 columns">
  <fieldset>
    <legend ng-class="{error: zoneForm.servers.$invalid && !zoneForm.$pristine}">Forward to</legend>

    <div class="row">
      <div class="small-12 medium-6 columns" ng-repeat="server in zone.servers_o">
        <div class="row collapse">
          <div class="small-10 medium-11 columns">
            <input type="text" ng-model="server.server" placeholder="192.0.2.1">
          </div>
          <div class="small-2 medium-1 columns">
            <a href="#" ng-click="removeServer($index)" class="button postfix"><span class="foundicon-trash"></span></a>
          </div>
        </div>
      </div>

      <div class="small-2 medium-1 columns">
        <a href="#" ng-click="addServer()" class="button postfix"><span class="foundicon-plus"></span></a>
      </div>
    </div>
  </fieldset>
  </div>
</div>

<br>

<div class="row">
  <div class="small-12 columns">
    <button type="submit" ng-click="save()" ng-disabled="isClean() || zoneForm.$invalid" class="button success">Save</button>
    <button type="button" ng-click="cancel()" class="button">Cancel</a>
    <button type="button" ng-click="destroy()" ng-show="zone._url" class="button alert right">Delete</button>
  </div>
</div>
</form>

<script>
$('#zonename').focus();
</script>
