[auth]
username = secret
password = sikrit

[server]
port = 8080
address =
certfile = ssl-cert-snakeoil.pem
keyfile = ssl-cert-snakeoil.key
allow_origin = *

[Authoritative]
package = pdns-server
config = /etc/powerdns/pdns.conf
service = pdns

[Recursor]
package = pdns-recursor
config = /etc/powerdns/recursor.conf
service = pdns-recursor

[relay]
1 = http://xs.powerdns.com:8082/
