[auth]
apikey = changeme

[proxy]
# 8085 is suggested for a second pdnsmgrd
port = 8084
address = 127.0.0.1
certfile = pdnsmgrd-ssl.pem
keyfile = pdnsmgrd-ssl.key
allow_origin = *

[upstream]
# "authoritative" or "recursor" or "distributor"
daemon_type = authoritative
# the following settings are set to defaults based on daemon_type.
# package = pdns-recursor
# service = pdns-recursor
# url = http://localhost:8082/
