.logo {
    vertical-align: bottom;
    margin-bottom: 7px;
    margin-top: 7px;
    border: 0;
    height: 20px;
    width: 154px;
    float: right;
    background: url(../images/powerdns-logo-154px.png);
}

.output pre {
    margin-bottom: 2em;
    margin-top: 0.8em;
    background: #eee;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    overflow: auto;
}

h2.server-name {
    margin-top: 0;
    margin-bottom: 0;
}

.title-edit {
    font-size: 12pt;
}

.spinner {
    margin-right: 1em;
    width: 80px;
}

.inline-block {
    display: inline-block;
}

a.alert {
    color: $alert-color;
    &:hover,
    &:focus {
         color: scale-color($alert-color, $lightness: $anchor-font-color-lightness);
    }
}

.tabs dd.active, .tabs li.active {
    border-top: 3px solid #3B8EC8;
}

.tabs {
    margin-bottom: 0; /* override foundation */
}

.server-list input[type="checkbox"] {
    margin-bottom: 0;
}

input[type="checkbox"].inline {
    margin-bottom: 0;
}

.header-actions button, .header-actions a.button {
    margin-bottom: 0;
}

.button-group:last-child {
    margin-right: 0;
}

/* used by search log */
form.inline-form {
    margin: 0;
}

/* hack for foundicons. transforms a button into something that
 * resembles a link. */
.link-button {
    border: none;
    background: none;
    color: #E38000;
    cursor: pointer;
}
.link-button:hover {
    color: #E3A000;
}

.empty .actions button {
    display: none;
}

.newRecord input, .newRecord select {
    display: inline;
    width: auto;
    height: auto;
    padding: 0;
}

.hidden {
    display: none;
}

.gridStyle {
    height: 500px;
}

.zoneName {
    color: #888;
    font-style: italic;
}

footer {
    font-size: 10px;
}

.graphite-times {
    font-size: 80%;
    /* flush right end with graph border */
    padding-right: 9px;

    .active {
        font-weight: bold;
    }
}

.top-bar-section .has-indicator {
    height: 45px;
    padding-top: 8px;
}

#topbar-search {
  width: 50%;
  float: right;
}
#topbar-search:focus {
  width: 100%;
}

.graphite-graph {
    /* disable space between graphite-times and img */
    line-height: 100%;
}

.table-buttons .button, .table-buttons input {
  margin-bottom: 0;
}

@include keyframes(changeInProgress) {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.changeInProgress {
    @include animation(changeInProgress 3s linear infinite);
}

/* global request pending animation */

@include keyframes(requestsPending) {
  0% {
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    border-bottom-color: rgba(255, 255, 255, 1);
  }
  100% {
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }
}

.requestsPendingIndicator {
  border-bottom: 8px solid transparent;
}
.requestsPendingIndicator.active {
  @include animation(requestsPending 2s linear infinite);
}

/* records editor */
.recordRowMeta .disabled {
  color: scale-color(#000, $lightness: 80%);
}

/* override ngGrid CSS */
.ngHeaderButton {
  background: inherit;
  right: 6px;
}
.ngColMenu {
  background: white;
  border: 1px solid #666;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  input {
    margin: 0; /* override foundation */
  }
}
/* match up ngGrid CSS with Foundation colors */
.ngGrid, .ngRow.odd {
  background-color: $table-bg;
}
.ngRow.even {
  background-color: $table-even-row-bg;
}
.ngRow.selected {
  background-color: $secondary-color;
}
.ngTopPanel, .ngGroupPanel {
  background-color: $table-head-bg;
}
.ngVerticalBarVisible {
  width: $table-border-size;
  background-color: $table-border-color;
}
.ngRow select {
  /* override Foundation so select fits into the cell */
  height: 1.5rem;
  padding: 0;
}

/* our own tooltips, which don't need JS */
/* Note: can't attach to table-cell, block or similar. */
.app-tooltip {
  display: inline;
  position: relative;
}
.app-tooltip:hover:after {
  content: attr(tooltip);
  background: #333;
  background: rgba(0,0,0,.8);
  color: white;
  bottom: 28px;
  left: -10px;
  padding: 5px 8px;
  width: 200px;
  position: absolute;
  z-index: 98;
}
.app-tooltip:hover:before {
  content: "";
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 22px;
  left: 0px;
  position: absolute;
  z-index: 99;
}
