Source: pdnscontrol
Section: net
Priority: extra
Maintainer: PowerDNS.COM B.V. <powerdns.support@powerdns.com>
Build-Depends: debhelper (>= 8.0.0), python-virtualenv, python2.7, libpq-dev, libmysqlclient-dev, python-dev
Standards-Version: 3.9.5

Package: pdnscontrol
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python2.7, lsb-base (>= 3.2-14)
Description: PowerDNS Control Web UI
 .

Package: pdnsmgrd
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python2.7, lsb-base (>= 3.2-14), ssl-cert
Description: PowerDNS daemon manager daemon
 .

