<div class="row">
  <div class="small-6 columns">
    <h1 class="server-name">{{server.name}}
      <a href="/server/{{server.name}}/edit" class="title-edit"><span class="foundicon-edit"></span></a>
    </h1>
  </div>
  <div class="small-6 columns">
    <div class="button-bar right header-actions">
    <ul class="button-group">
      <li><button class="button" ng-click="popup_flush_cache()">Flush cache</button></li>
    </ul>
    <ul class="button-group">
      <li><button class="button" ng-click="popup_restart()">Restart</button></li>
      <li><button class="alert button" ng-click="popup_shutdown()">Shutdown</button></li>
    </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p ng-class="{'visibility-hidden': !server.version || !server.stats.uptime}">Running version <strong>{{server.version}}</strong>, up since {{server.stats.uptime | absolutize_time | full_and_rel_timestamp}}.</p>
    <div ng-show="load_error" class="load_error alert-box alert">{{load_error}}</div>
  </div>
  <div class="small-12 columns">
    <searchlog servers="[server]"></searchlog>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <dl class="tabs">
      <dd ng-class="{active: current_tab==''}"><a href="/server/{{ server._id }}">Graphs</a></dd>
      <dd ng-class="{active: current_tab=='statistics'}"><a href="/server/{{ server._id }}/statistics">Statistics</a></dd>
      <dd ng-class="{active: current_tab=='zones'}"><a href="/server/{{ server._id }}/zones">Zones</a></dd>
      <dd ng-class="{active: current_tab=='config'}"><a href="/server/{{ server._id }}/config">Configuration</a></dd>
    </dl>
  </div>
</div>
