<form name="flushForm" ng-submit="doIt()">

  <h3>{{server.name}}</h3>
  <div class="row output">
    Flush cache for:<br>
    <br>
    <input type="text" required ng-model="data.domain" placeholder="Domain match" id="flush_domain">
  </div>
  <div class="row">
    <div class="right">
      <div class="inline-block">
        {{output}}
      </div>
      <spinner spin="{{loading}}"></spinner>
      <div class="inline-block">
        <button type="submit" class="small button success">Flush cache</button>
        <button type="button" class="small button cancel" ng-click="close()">Close</button>
      </div>
    </div>
  </div>

</form>
