<form name="flushForm" ng-submit="doIt()">

  <h3>Flush Cache</h3>
  <div class="row">
    On servers: <span ng-repeat="server in affected_servers">{{server.name}}<span ng-show="!$last">,</span> </span>
    <br>
  </div>
  <div class="row">
    Flush cache for:<br>
    <br>
    <input type="text" required ng-model="flush_domain" placeholder="Domain match" id="flush_domain">
  </div>
  <div class="row">
    <ul>
      <li ng-repeat="result in results">
        {{result.server.name}}: {{result.output}}
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="right">
      <spinner spin="{{loading}}"></spinner>
      <div class="inline-block">
        <button type="submit" class="small button success">Flush cache</button>
        <button type="button" class="small button cancel" ng-click="close()">Close</button>
      </div>
    </div>
  </div>

</form>
