<div class="row">
  <div class="small-6 columns">
    <h1>Servers</h1>
  </div>
  <div class="small-6 columns text-right right">
    <ul class="button-group right">
      <li>
        <a class="button" href="/servers/new"><span class="foundicon-plus"></span></a>
      </li>
    </ul>
  </div>
</div>

<span ng-show="servers && true">

<div class="row">
  <div class="small-12 columns">
    <div class="server-list">
      <table id="servers" class="small-12" ng-init="selected_all=true">
        <input ng-show="servers.length" type="text" ng-model="filter" class="search-query" placeholder="Filter">
        <thead>
          <tr>
            <th><input type="checkbox" ng-model="selected_all" ng-change="toggleSelectedAll()"></th>
            <th ng-click="orderProp = 'daemon_type'">Type</th>
            <th ng-click="orderProp = 'name'">Name</th>
            <th ng-click="orderProp = 'listen_address'">Main IP</th>
            <th ng-click="orderProp = 'version'">Version</th>
            <th ng-click="orderProp = 'uptime'">Uptime</th>
            <th>Load</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="server in servers | filter:filter | orderBy:orderProp">
            <td><input type="checkbox" ng-model="server.selected" ng-change="refreshSelectedAll()"></td>
            <td>{{server.daemon_type}}</td>
            <td><a href="/server/{{server.name}}">{{server.name}}</a></td>
            <td>{{server.listen_address()}}</td>
            <td>{{server.version}}</td>
            <td><span class="app-tooltip" title="{{server.stats.uptime | absolutize_time | full_timestamp}}">{{server.stats.uptime | absolutize_time | rel_timestamp}}</span></td>
            <td>{{server.load}}</td>
          </tr>
          <tr ng-show="!servers.length">
            <td colspan="7">
              You don't seem to have any servers defined yet. Add some!
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="small-7 columns">
          <div class="button-bar" ng-show="servers.length">
            <ul class="button-group">
              <li><button ng-click="popup_flush_cache()" class="button">Flush cache</button></li>
            </ul>
            <ul class="button-group">
              <li><button ng-click="popup_restart()" class="button">Restart</button></li>
              <li><button ng-click="popup_shutdown()" class="alert button">Shutdown</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <searchlog servers="selected_servers"></searchlog>
  </div>  
</div>

<div class="row">
  <div class="small-12 columns" ng-show="selected_servers().length>0">
    <h3>Aggregate statistics</h3>

    <span ng-show="authoritatives().length>0">
    <h4>Authoritative Servers</h4>
    <graphite g-source="" g-area-mode="first" g-refresh="60">
      <graph target="{{auth_queries()}}" title="Queries" />
      <graph target="{{auth_answers()}}" title="Answers" />
    </graphite>
    </span>

    <span ng-show="recursors().length>0">
    <h4>Recursor Servers</h4>
    <graphite g-source="" g-area-mode="first" g-refresh="60">
      <graph target="{{recursor_queries()}}" title="Queries" />
      <graph target="{{recursor_answers()}}" title="Answers" />
    </graphite>
    </span>

  </div>
</div>

</span>
<span ng-show="!servers">
<div class="row">
  <div class="small-3 small-centered columns">
    Loading server list...
  </div>
</div>
</span>
