<div>
  <form class="inline-form" ng-submit="submit()">
    <div class="row collapse">
      <div class="small-10 columns">
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix"><span class="foundicon-search"></span></span>
          </div>
          <div class="small-11 columns">
            <input type="text" ng-model="query" class="search-query" placeholder="Log Message">
          </div>
        </div>
      </div>
      <div class="small-2 columns">
        <button type="submit" class="button expand postfix" ng-class="{disabled:query.length==0}">Search</button>
      </div>
    </div>
  </form>
</div>
