<ng-include src="'/tpl/server/detail_header.html'"></ng-include>

<div class="row table-buttons">
  <div class="small-2 columns">
    <a ng-show="isAddZoneAllowed" href="/server/{{ server.name }}/zones/new" class="button small zone-new"><span
        class="foundicon-plus"></span> Add Zone</a>
  </div>
  <div class="small-8 columns right" ng-show="isSearchAllowed">
    <form class="inline-form" ng-submit="search_data(data_query)">
      <div class="row collapse">
        <div class="small-11 columns">
          <input type="text" ng-model="data_query" class="search-query" placeholder="Record or Comment">
        </div>
        <div class="small-1 columns">
          <button type="submit" class="button expand postfix" ng-class="{disabled:data_query.length==0}"><span
              class="foundicon-search"></span></button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table width="100%">
      <thead>
      <tr>
        <th>Name</th>
        <th width="130">Kind</th>
        <th ng-if="server.daemon_type === 'Recursor'" width="200">Servers</th>
        <th ng-if="server.daemon_type === 'Authoritative'" width="120">Serial</th>
        <th ng-if="server.daemon_type === 'Authoritative'" width="250">Masters</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="zone in zones">
        <td>
          <a href="/server/{{ server._id }}/zone/{{ zone._id }}">{{ zone.name }}</a>
          <a href="/server/{{ server._id }}/zone/{{ zone._id }}"><i class="foundicon-edit"/></a>
        </td>
        <td>{{ zone.kind }}
          <span ng-if="zone.recursion_desired">+ RD</span>
        </td>
        <td ng-if="server.daemon_type === 'Recursor'">
          {{ zone.servers | array_join }}
        </td>
        <td ng-if="server.daemon_type === 'Authoritative'">{{ zone.serial }}</td>
        <td ng-if="server.daemon_type === 'Authoritative'">{{ zone.masters | array_join }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
