<a class="close-reveal-modal">&#215;</a>
{{#if view.title}}<h3>{{view.title}}</h3>{{/if}}

<div class="row output">
  {{yield}}
</div>

<div class="row">
  <div class="right">
    <div class="inline-block spinner"></div>
    <div class="inline-block">
      <button class="small button success">{{view.success}}</button> <button class="small button cancel">Cancel</button>
  </div>
</div>
