<span class='content'>
{{#if view.rowContent}}
      {{#if zones_editable}}
            {{#linkTo zones.zone view.rowContent}}
                  {{view.cellContent}}
            {{/linkTo}}
      {{else}}
            {{view.cellContent}}
      {{/if}}
{{/if}}
</span>