{% extends "/layout.html" -%}
{% block body %}

  {% assets output="gen/js-ember-%(version)s.js",
    "javascripts/handlebars.js",
    "javascripts/ember.js",
    "javascripts/ember-data.js"
  %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

{# pre-compiled handlebars templates #}
<script src="{{ url_for('static', filename='javascripts/gen/templates.js') }}"></script>

{# our ember-based app #}
<script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/routes.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/models.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/views.js') }}"></script>

{% endblock %}
