{% extends "/layout.html" -%}
{% block body %}

  <div class="row">
    <div class="small-12 columns">
      <div class="panel server-list">
      <table id="servers" class="small-12">
        <thead>
          <tr>
            <th><input type="checkbox" id="checkboxAll"></th>
            <th>Type</th>
            <th>Name</th>
            <th>Main IP</th>
            <th>Version</th>
            <th>Uptime</th>            
            <th>Load</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="row">
        <div class="small-7 columns">
          <div class="button-bar">
            <ul class="button-group">
              <li><a href="#" class="button" id="btnActionFlushCache">Flush cache</a></li>
            </ul>
            <ul class="button-group">
              <li><a href="#" class="button" id="btnActionDeploy">Deploy</a></li>
              <li><a href="#" class="button" id="btnActionRestart">Restart</a></li>
              <li><a href="#" class="alert button" id="btnActionShutdown">Shutdown</a></li>
            </ul>
          </div>
        </div>
        <div class="small-5 columns">
          <ul class="button-group right">
            <li>
              <a href="#" class="button" id="btnServerAdd"><span class="foundicon-plus"></span></a>
            </li>
          </ul>
        </div>
      </div>
      </div>
      <form>
        <fieldset>
          <legend>Log Search</legend>
          <input type="text" id="logQueryInitial" placeholder="Standard Input" />
        </fieldset>
      </form>

      <h3>Aggregate statistics</h3>
      <div id="graphDiv"></div>
    </div>  
  </div>

  <script>
    $(function() {
    build_index({{servers|tojson|safe}});
    });
  </script> 

{% endblock %}
