{% extends "/layout.html" -%}
{% block body %}

  <div class="row">

    <div class="twelve columns">
      <H2 id="server-name"></h2>
      <p>Running version <strong><span id="version">...</span></strong>, up since <span
      id="uptime">...</span></p>
      <p>
      <ul class="button-group four-up even">
        <li><a href="#" class="alert button" id="btnActionShutdown">Shutdown</a></li>
        <li><a href="#" class="button" id="btnActionRestart">Restart</a></li>
        <li><a href="#" class="button" id="btnActionFlushCache">Flush cache</a></li>
        <li><a href="#" class="button" id="btnActionDeploy">Deploy</a></li>
      </ul>
      <hr>
      <form>
        <fieldset>
          <legend>Log Search</legend>
          <input type="text" id="logQueryInitial" placeholder="Standard Input" />
        </fieldset>
      </form>

      </p>
      	<dl class="tabs">
	  <dd class="active"><a href="#graph">Graph</a></dd>
  	  <dd><a href="#simple2">Statistics</a></dd>
  	  <dd><a href="#simple3">Domains</a></dd>
  	  <dd><a href="#simple4">Configuration</a></dd>
	</dl>
	<ul class="tabs-content">
	  <li class="active" id="graphTab"></li>
	  <li id="simple2Tab"><table id="statistics"></table></li>
	  <li id="simple3Tab"><table id="domains"></table></li>	  
	  <li id="simple4Tab"><table id="config"></table></li>
	</ul>
    </div>  
  </div>


{% endblock %}
