<div class="row" id="header">
  <div class="seven columns">
    <span id="appname">
    {{#linkTo 'index'}}PowerDNS Control Server{{/linkTo}}
    </span>
    <span id="current_user">
      Signed in as <b>The Admin</b>. <a href="/account/logout">Sign out</a>.
    </span>
  </div>
</div>

{{outlet}}
