<div id="search_log_modal" class="reveal-modal fixedWidth1000">
<a class="close-reveal-modal">&#215;</a>

<h1>Log results for "{{search_text}}"</h1>
<div style="height: 400px;">
  {{view Ember.Table.TablesContainer controllerBinding="controller"}}
</div>
</div>
