/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* Fonts */

/* Open Sans is under Apache License 2.0 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: local('Open Sans'), local('OpenSans'),
         url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
}

/* Merriweather is under SIL OFL, so had to rename it */
@font-face {
    font-family: 'Bontemps';
    src: url('../fonts/bontemps-regular-webfont.eot');
    src: url('../fonts/bontemps-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bontemps-regular-webfont.woff') format('woff'),
         url('../fonts/bontemps-regular-webfont.ttf') format('truetype'),
         url('../fonts/bontemps-regular-webfont.svg#bontempsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
    margin-top: 1em;
    font-family: 'Open Sans', 'Sans', serif;
}

h1 { font-family: 'Bontemps', serif; font-weight: normal; }
h2 { font-family: 'Bontemps', serif; font-weight: normal; }
h3 { font-family: 'Bontemps', serif; font-weight: normal; }
h4 { font-family: 'Bontemps', serif; font-weight: normal; }
h5 { font-family: 'Bontemps', serif; font-weight: normal; }
h6 { font-family: 'Bontemps', serif; font-weight: normal; }

.logo {
    vertical-align: bottom;
    margin-bottom: 14px; 
    margin-top: 7px;
    border: 0;
    height: 20px;
    width: 154px;
    float: right;
    background: url(../images/powerdns-logo-154px.png);
}

.output pre {
    margin-bottom: 2em;
    margin-top: 0.8em;
    background: #eee;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    overflow: auto;
}

#appname {
    font-size: 27px;
    font-weight: bold;
    display: block;
}
a#appname {
    color: #666;
}

h2.server-name {
    margin-top: 0;
    margin-bottom: 0;
}

.title-edit {
    font-size: 12pt;
}

}
table.dataTable tr.odd {
    background-color: hsl(34, 61%, 85%);
}
table.dataTable tr.odd td.sorting_1 {
    background-color: hsl(34, 61%, 75%);
}
table.dataTable tr.even td.sorting_1 {
    background-color: hsl(43, 100%, 96%);
}

html {
    overflow-y: scroll;
}

.reveal-modal.fixedWidth1000 {
    width: 950px;
    margin-left: -475px;
}

.spinner {
    margin-right: 1em;
    width: 80px;
}

.inline-block {
    display: inline-block;
}

a {
    color: #0959c2;
}
a:hover {
    color: #3B8EC8;
}
.tabs dd.active, .tabs li.active {
    border-top: 3px solid #3B8EC8;
}

#current_user {
    font-size: small;
}

#header {
}

.server-list ul.button-group {
    margin-bottom: 0;
}

#btnServerAdd:hover span:after {
    content: " Add";
}

/* hack for foundicons. transforms a button into something that
 * resembles a link. */
.link-button {
    border: none;
    background: none;
    color: #E38000;
    cursor: pointer;
}
.link-button:hover {
    color: #E3A000;
}

table.dataTable td[contenteditable=true]:focus {
    background: yellow;
}

/* these are used for data tables built by hand */
table.dataTable tbody tr:nth-child(odd) {
    background-color: hsl(34, 61%, 85%);
}
table.dataTable tbody tr:nth-child(even) {
    background-color: white;
}

.empty .actions button {
    display: none;
}

.newRecord input, .newRecord select {
    display: inline;
    width: auto;
    height: auto;
    padding: 0;
}

.header-cell {
    font-weight: bold;
}
.header-cell span {
    display: inline-block;
    height: 100%;
    width: 80%;
    cursor: pointer;
}
.header-cell.sorted-by {
}
.header-cell.sorted-by.sort-ascending:before {
    content: "\f017"; /* down-arrow */
    font-family: "GeneralFoundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}
.header-cell.sorted-by.sort-descending:before {
    content: "\f016"; /* up-arrow */
    font-family: "GeneralFoundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}

.hidden {
    display: none;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 500px
}

.gridStyle .zoneName {
    color: #888;
    font-style: italic;
}

footer.row {
    margin-top: 1em;
    margin-bottom: 1em;
}
footer {
    border-top: 1px solid #ddd;
    padding-top: 4px;
    font-size: 10px;
}


.flashes li {
    list-style-type: none;
}

.flashes .error {
    padding: 1em; border: 2px solid red; margin-bottom: 1em;
}
