/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
    margin-top: 1em;
}

.logo {
    vertical-align: bottom;
    margin-bottom: 14px; 
    margin-top: 7px;
    border: 0;
    height: 20px;
    width: 154px;
    float: right;
    background: url(../images/powerdns-logo-154px.png);
}

.output pre {
    margin-bottom: 2em;
    margin-top: 0.8em;
    background: #eee;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    overflow: auto;
}

#appname {
    font-size: 27px;
    font-weight: bold;
    display: block;
}
a#appname {
    color: #666;
}

h2#server-name {
    margin-top: 0;
}

/* override foundation css where it conflicts with dataTable */
.dataTables_wrapper select, .dataTables_wrapper input, .dataTables_wrapper label {
    width: auto;
    display: inline;
}
table.dataTable {
    border-collapse: separate;
    border-spacing: 0;
}
table.dataTable tr.odd {
    background-color: hsl(34, 61%, 85%);
}
table.dataTable tr.odd td.sorting_1 {
    background-color: hsl(34, 61%, 75%);
}
table.dataTable tr.even td.sorting_1 {
    background-color: hsl(43, 100%, 96%);
}
/*
table.dataTable tr.odd td.sorting_2
table.dataTable tr.odd td.sorting_3
table.dataTable tr.even td.sorting_2
table.dataTable tr.even td.sorting_3
*/

html {
    overflow-y: scroll;
}

.reveal-modal.fixedWidth1000 {
    width: 950px;
    margin-left: -475px;
}

.spinner {
    margin-right: 1em;
    width: 80px;
}

.inline-block {
    display: inline-block;
}

a {
    color: #E38000;
}
a:hover {
    color: #E3A000;
}
.tabs dd.active, .tabs li.active {
    border-top: 3px solid #E38000;
}

#current_user {
    font-size: small;
}

#header {
    margin-bottom: 1em;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */

.server-list ul.button-group {
    margin-bottom: 0;
}

#btnServerAdd:hover span:after {
    content: " Add";
}

/* hack for foundicons. transforms a button into something that
 * resembles a link. */
.link-button {
    border: none;
    background: none;
    color: #E38000;
    cursor: pointer;
}
.link-button:hover {
    color: #E3A000;
}

table.dataTable td[contenteditable=true]:focus {
    background: yellow;
}

/* these are used for data tables built by hand */
table.dataTable tbody tr:nth-child(odd) {
    background-color: hsl(34, 61%, 85%);
}
table.dataTable tbody tr:nth-child(even) {
    background-color: white;
}

.empty .actions button {
    display: none;
}

.newRecord input, .newRecord select {
    display: inline;
    width: auto;
    height: auto;
    padding: 0;
}

.header-cell {
    font-weight: bold;
}
.header-cell span {
    display: inline-block;
    height: 100%;
    width: 80%;
    cursor: pointer;
}
.header-cell.sorted-by {
}
.header-cell.sorted-by.sort-ascending:before {
    content: "\f017"; /* down-arrow */
    font-family: "GeneralFoundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}
.header-cell.sorted-by.sort-descending:before {
    content: "\f016"; /* up-arrow */
    font-family: "GeneralFoundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */

.hidden {
    display: none;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 500px
}
